/* media query */

@media (max-width: 1000px) {
    /* Scoreboard */
    .scoreboard-container {
        width: 60rem;
        height: 40%;
    }
}
@media (max-width: 768px) {
    .game-container {
        flex-direction: column;
        margin-right: 0;
    }

    .left-sidebar {
        flex-direction: column;
        width: 80%;
        margin-bottom: 2rem;
        height: max-content;
        background: none;
        margin-left: 0;
        background: var(--sidebar-bg-color);
        padding: 0.8rem;
    }

    .player1,
    .player2 {
        flex-direction: row;
        justify-content: space-around;
    }

    .sidebar-txt {
        height: max-content;
        font-size: 1rem;
    }
    .sidebar-title {
        margin-top: 0;
        font-size: 1rem;
    }

    .left-sidebar > * {
        width: 100%;
        margin-left: 0;
        height: 80%;
        font-size: 1.5rem;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: repeat(var(--rows), 1fr);
        width: 90%;
        height: 80%;
        padding: 0;
    }

    .card-scene {
        min-width: 100%;
    }
    .btn {
        padding: 0.7rem;
    }
    .new-game-btn,
    .change-mode-btn {
        font-size: 1.5rem;
        margin-top: 0;
        height: max-content;
    }

    .end-game > * {
        font-size: 2.2rem;
    }

    .end-game-btn-container {
        margin-top: 2rem;
    }

    .scoreboard-container {
        width: 40rem;
        height: 30rem;
    }

    #difficulty-score > * {
        font-size: var(--difficulty-txt-font-mobile-768px);
        width: var(--difficulty-score-width-mobile);
        height: var(--difficulty-score-height);
    }
}

.podium > *::after {
    font-size: 1.2rem;
}

@media (max-width: 530px) {
    .header h1 {
        font-size: 3rem;
    }

    .header h2 {
        font-size: 2rem;
    }

    .difficulty-container,
    .player-mode-container {
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        height: max-content;
    }

    .difficulty-container {
        width: 80%;
    }

    .difficulty-container > *,
    .player-mode-container > * {
        width: 6rem;
        height: 6rem;
        font-size: var(--difficulty-txt-font-mobile);
    }

    .player-mode-container > * {
        height: 7rem;
    }

    .player-mode-container > * {
        font-size: 1.2rem;
    }

    .cards-container {
        width: 95%;
        padding: 3px;
    }
    .left-sidebar {
        width: 95%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .left-sidebar > * {
        font-size: 1.1rem;
    }
    /* Scoreboard */
    .scoreboard-container {
        width: 20rem;
        height: 40rem;
    }

    .btn {
        font-size: 1.2rem;
    }

    .podium > *::after {
        transform: rotate(90deg);
        right: auto;
        left: auto;
        top: 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    .header {
        font-size: 1.3rem;
    }

    .left-sidebar {
        width: 95%;
        margin: 3rem;
        gap: 1rem;
    }
    .left-sidebar > * > *:first-child {
        margin-left: 5rem;
    }
}

@media (max-height: 600px) {
    .new-game-btn,
    .change-mode-btn {
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media (max-width: 300px) {
    .left-sidebar > * {
        font-size: 1rem;
    }
    .left-sidebar > * > *:first-child {
        margin-left: 15rem;
    }
}
