:root {
    /* Colors */
    --header-color: #f8f056;
    --sidebar-bg-color: var(--header-color);
    --sidebar-txt-color: #111;
    --not-selected-player-color: #aaa;
    --btn-bg-color: var(--header-color);
    --btn-txt-color: var(--sidebar-txt-color);
    --card-back-bg-color: #fff;
    --card-front-bg-color: #f5e9df;
    --popup-container-bg-color: var(--header-color);
    --easy-color: url("../assets/img/pokemon/difficulty/easy.png") center
        center/cover no-repeat;
    --medium-color: url("../assets/img/pokemon/difficulty/medium.png") center
        center/cover no-repeat;
    --hard-color: url("../assets/img/pokemon/difficulty/hard.png") center
        center/cover no-repeat;
    --ninja-color: url("../assets/img/pokemon/difficulty/ninja.png") center
        center/cover no-repeat;
    --solo-mode-color: #5452c8;
    --vs-mode-color: #b46152;
    --end-game-popup-bg-color: #bffdc972;
    --close-icon-color: #fff;
    --close-icon-hover-color: #d4b876;
    --podium-txt-color: #fff;
    --podium-second-color: silver;
    --podium-first-color: gold;
    --podium-third-color: #bb7760;
    --popup-txt-color: var(--sidebar-txt-color);
    --btn-shadow: none;
    --change-mode-txt-color: var(--sidebar-txt-color);

    /* width and height */
    --difficulty-score-width: 5rem;
    --difficulty-score-height: 5rem;
    --difficulty-score-width-mobile: 4.5rem;

    /* Font */
    --font-name: pokemon;

    /* Images Links */
    --bg-image: url("../assets/img/pokemon-background.jpg");

    /* Text-sizes */
    --difficulty-txt-font-mobile: 0;
    --difficulty-txt-font-mobile-768px: 0;
}

@font-face {
    font-family: pokemon;
    src: url(../assets/fonts/pokemon.ttf);
}

.difficulty-container > * {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    position: relative;
}

.difficulty-container > *::after {
    position: absolute;
    content: attr(data-difficulty);
    font-size: 1.2rem;
    bottom: -2rem;
}
