:root {
    /* Colors */
    --header-color: #f9dc49;
    --sidebar-bg-color: var(--header-color);
    --sidebar-txt-color: #111;
    --btn-bg-color: var(--header-color);
    --btn-txt-color: var(--sidebar-txt-color);
    --card-back-bg-color: #fff;
    --card-front-bg-color: #f8f1eb;
    --popup-container-bg-color: #f9ea81;
    --easy-color: url("../assets/img/pokemon/difficulty/easy.png") center
        center/cover no-repeat;
    --medium-color: url("../assets/img/pokemon/difficulty/medium.png") center
        center/cover no-repeat;
    --hard-color: url("../assets/img/pokemon/difficulty/hard.png") center
        center/cover no-repeat;
    --ninja-color: url("../assets/img/pokemon/difficulty/ninja.png") center
        center/cover no-repeat;
    --solo-mode-color: #08066e;
    --vs-mode-color: #831d0b;
    --end-game-popup-bg-color: #bffdc972;
    --close-icon-color: #fff;
    --close-icon-hover-color: #d4b876;
    --podium-txt-color: #fff;
    --podium-second-color: silver;
    --podium-first-color: gold;
    --podium-third-color: #bb7760;

    /* Font */
    --font-name: diloWorld;

    /* Images Links */
    --bg-image: url("../assets/img/pokemon-background.jpg");

    /* Text-sizes */
    --difficulty-txt-font-mobile: 0;
}

@font-face {
    font-family: diloWorld;
    src: url(../assets/fonts/diloWorld.ttf);
}

.difficulty-container > * {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    position: relative;
}

.difficulty-container > *::after {
    position: absolute;
    content: attr(data-difficulty);
    font-size: 1rem;
    bottom: -2rem;
}
