* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --columns: 4;
    --rows: 3;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.background-container {
    background-image: url("../assets/img/farm-background.png");
    opacity: 0.8;
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 2rem;
    text-align: center;
    height: 20%;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    margin-right: 10rem;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    width: 70%;
    height: 80%;
}

.correct-container,
.incorrect-container,
.timer {
    height: 10rem;
    text-align: center;
    font-size: 1.5vw;
}

footer {
    height: 8%;
}

.new-game-btn {
    font-size: 2vw;
    border: 1px black solid;
    padding: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

/* Related to the flip card functionality */

.card {
    cursor: pointer;
    /* preserve-3d meaning that the children of the 
    element positioned in the #D space */
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    width: 100%;
    height: 100%;
}

.card.flipCard {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-front,
.card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border: 1px black solid;
}

.card-back {
    transform: rotateY(180deg);
    /*!remove background when finish working*/
    background: yellow;
}
.card-front {
    /*!remove background when finish working*/
    background: pink;
}

.cards-container {
    gap: 1rem;
}

/* Related to the cards styling */
.center-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .header {
        height: max-content;
        font-size: 2rem;
    }
    .game-container {
        flex-direction: column;
        margin-right: 0;
    }

    .left-sidebar {
        flex-direction: row;
        width: 30%;
        align-items: center;
        margin-bottom: 2rem;

        /* gap: 0; */
    }

    .left-sidebar > * {
        height: max-content;
        font-size: 1.7rem;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: repeat(var(--rows), 1fr);
        width: 70%;
        height: 80%;
    }

    .new-game-btn {
        font-size: 1.5rem;
    }
}
